{
  "extends": "eslint-config-umi",
  "globals": {
    "__ENV__": true,
    "__LOCAL__": true,
    "__TEST__": true,
    "__PROD__": true,
    "__SUCCESS__": true,
    "__FAIL__": true,
    "__TIMEOUT__": true,
    "__OFFLINE__": true,
    "__IGNORE__": true
  }
}
