<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <% if (context.__MOBILE__) { %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="format-detection" content="telephone=no">
      <meta name="format-detection" content="email=no">
    <% } else { %>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="renderer" content="ie-stand">
    <% } %>
    <title><%= context.title %></title>
  </head>

  <body>
    <div id="<%= context.config.mountElementId %>"></div>

    <% if (!context.__PROD__ && context.__MOBILE__) { %>
      <!-- 根据 url 参数判断是否加载 Eruda 手机网页调试器 -->
      <script>
        var src = '//cdn.bootcss.com/eruda/1.5.2/eruda.min.js';

        if (/eruda=true/.test(window.location)) {
          document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
          document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
        }
      </script>
    <% } %>
  </body>
</html>
